<body>
<table >
  <tr>
    <td><p id="text6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam elit, ullamcorper a metus eu, sollicitudin ultricies risus. Cras tempus lectus in odio dignissim lacinia. Aenean fringilla nec eros scelerisque condimentum. Aenean pellentesque malesuada urna, sit amet tristique lorem aliquam vulputate. Mauris pretium lobortis velit, quis viverra leo porttitor in. Donec in porta odio. Donec suscipit augue in massa varius, a aliquet arcu ultrices. Nulla finibus commodo justo. Sed sed vulputate lacus. Donec at mollis lacus.</p></td>
  </tr>
  <tr>
    <td> Ex.6 Comptador: {{countWords("text6")}}</td>
  </tr>
    <td><h1 id="titol">fkjashdf</h1></td>
  <tr>
    <td><h1 id="titolMayus"></h1></td>
  </tr>
  <tr>
    <td><p>Amb una funció : {{url()}}</p></td>
  </tr>
  <tr>
    <td><p>Com a variable: {{docUrl}}</p></td>
  </tr>
</table>

<ul>
  <li class="llista">lorem</li>
  <li class="llista">ipsum</li>
  <li class="llista">dolor</li>
  <li class="llista">sit</li>
</ul>

</body>
